body{
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

#navbar{
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 60px);
    padding: 0 15px;
    height: 36px;
    background: rgba(white, 0.95);
    backdrop-filter: blur(20px);
    border: 1px solid white;
    box-shadow: 0 10px 25px rgba(#030025, 0.05), inset 1px -2px 4px rgba(black, 0.03);
    border-radius: 36px;
    z-index: 5;


    #mast{
        #logo{
            height: 12.5px;
        }
    }

    #nav{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    #corner{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .navbtn{

        h2{
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.25px;
            opacity: 0.4;
            transition: 0.2s ease;
        }
        &.active{
            h2{
                font-weight: 500;
                opacity: 1;
            }
        }
        &:hover{
            h2{
                opacity: 1;
            }
        }
    }

}

#header{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
   // background: #f0f0f0;
    overflow: hidden;
    #title{
        height: 120px;
        width: auto;
        margin: auto;
        position: fixed;
        top: 120px;
    }
}

$main: min(1280px, 95vw);

#container{
    background: rgba(white, 1);
    height: fit-content;
    padding: 50px 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: -60px;
        left: 0;
        height: 60px;
        width: 100vw;
        background-image: linear-gradient(to top, white, rgba(white, 0));
    }
}


#main{
    width: $main;
    margin: auto;
    height: fit-content;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    background: white;

    .card{
        width: calc(($main - 75px) / 4);

        .img{
            width: 100%;
            height: fit-content;
            border-radius: 5px;
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 4px 2px 25px rgba(black, 0.3);

            img{
                width: 100%;
                margin: 0;
                transition: 0.2s ease;
            }

            &.light{
                border: 2px solid white;
                box-shadow: 4px 2px 25px rgba(black, 0.08);
            }
            &:hover{
                img{
                    transform: scale(1.04);
                }
            }
        }
        .expo{
            margin: 10px 0 20px 0;

            h1{
                font-family: 'Playfair Display', sans-serif;
                font-size: 24px;
                font-weight: 700;
                letter-spacing: -0.7px;
                margin: 8px 0 4px 0;
            }
            h2{
                font-size: 14px;
                font-weight: 300;
                letter-spacing: -0.4px;
                color: rgba(black, 0.4);
            }
        }
    }
}