@import 'variables';

body{
    color: $dark;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
   // padding-bottom: 150px;
}

::selection{
    background: #ffee00;
}

a{
    text-decoration: none;
    color: $dark;
}

h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
p{
    margin: 0;
}

button{
    font-family: 'Inter', 'Newsreader', 'Noto Serif JP', sans-serif;
    background: $dark;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.2px;
    padding: 13px 24px 14px 24px;
    border-radius: 8px;
    outline: none;
    border: none;
    box-shadow: 2px 4px 10px rgba($dark, 0.3), inset -1px 2px 3px rgba(white, 0.5);
    cursor: pointer;
    transition: 0.2s ease;
    &.inactive{
        background: #e2def0;
        color: $dark;
        box-shadow: inset -1px 2px 3px rgba(white, 0.5);
        pointer-events: none;
        cursor: default;
    }
    &.secondary{
        border: 1px solid white;
        background: none;
        color: $dark;
        box-shadow: 2px 6px 16px rgba($dark, 0.12), inset 1px -2px 3px rgba($dark, 0.08);
        padding: 11px 24px 12px 24px;
        &:hover{
            background: rgba(#202150, 0.02);
            box-shadow: 2px 3px 16px rgba($dark, 0.12), inset 1px -2px 3px rgba($dark, 0.08);
        }
    }
    &:hover{
        background: #202150;
        transform: translateY(1px);
        box-shadow: 2px 3px 10px rgba($dark, 0.25), inset -1px 2px 3px rgba(white, 0.5);
    }
}


#navbar{
    position: fixed;
    top: 8px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 50px);
    max-width: 1440px;
    padding: 0 15px;
    height: 36px;
    background: rgba(white, 0.95);
    backdrop-filter: blur(20px);
    border: 1px solid white;
    box-shadow: 0 10px 25px rgba(#030025, 0.08), inset 1px -2px 4px rgba(black, 0.05);
    border-radius: 36px;
    z-index: 5;
    transition: 0.3s ease;


    #mast{
        #logo{
            height: 12.5px;
        }
    }

    #nav{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    #corner{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .navbtn{

        h2{
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.25px;
            opacity: 0.4;
            transition: 0.2s ease;
        }
        &.active{
            h2{
                font-weight: 500;
                opacity: 1;
            }
        }
        &:hover{
            h2{
                opacity: 1;
            }
        }
    }

}