#ahw {
  margin-left: calc(50vw - 450px);
  margin-top: 120px;
  margin-bottom: 30px;
  width: 900px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min(900px, 90vw);
  margin: auto;
  margin-bottom: 40px;
}
#about p {
  font-family: "Newsreader", "Spectral", "Inter", sans-serif;
  font-size: 18px;
  font-weight: 350;
  line-height: 140%;
  letter-spacing: -0.12px;
  margin-bottom: 28px;
}

#container {
  margin-left: 10px;
}
#container:before {
  display: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(900px, 90vw);
  gap: 0px;
  margin: auto;
  margin-bottom: 60px;
  padding: 2px;
  box-shadow: 0 10px 40px rgba(3, 0, 37, 0.07);
  border-radius: 8px;
}
.page .com {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.page .com img {
  height: 100px;
}
.page .com .expo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}
.page .com .expo p {
  display: none;
  font-size: 14px;
  letter-spacing: -0.2px;
  text-align: center;
  font-weight: 350;
  margin-bottom: 30px;
  line-height: 125%;
}
.page .com .expo p b {
  font-weight: 600;
}
.page .graphic {
  width: 480px;
  height: 360px;
  border-radius: 4px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.03);
  position: relative;
  background-image: url("../assets/screen.png");
  background-size: cover;
  box-shadow: 0 15px 30px rgba(0, 16, 109, 0.05);
}
.page .graphic .category {
  background: #e5e2f8;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -6px;
  left: -6px;
  padding: 6px 8px;
  border-radius: 8px;
  display: none;
}
.page .graphic .category h2 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin: 0;
}
.page .graphic .circle {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  box-shadow: -5px -10px 30px rgba(3, 0, 37, 0.2), inset 5px -5px 15px rgba(0, 0, 0, 0.25);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.page .graphic .circle.light {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), inset 5px -5px 15px rgba(0, 0, 0, 0.05);
}
.page .graphic .circle.c1 {
  width: 180px;
  height: 180px;
  bottom: -40px;
  right: -50px;
  animation-delay: 0.2s;
}
.page .graphic .circle.c2 {
  width: 140px;
  height: 140px;
  bottom: -50px;
  right: 150px;
  animation-delay: 0.4s;
}
.page .graphic .circle.c3 {
  width: 100px;
  height: 100px;
  bottom: 160px;
  right: -40px;
}
.page .graphic .circle .preview {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 0, 37, 0.75);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.25s ease;
  transform: scale(0.5);
}
.page .graphic .circle .preview h2 {
  font-size: 12px;
  font-weight: 600;
  line-height: 100%;
  margin: 6px 0;
  width: 80%;
  color: #030025;
  transform: scale(0.1);
  transition: 0.2s ease;
}
.page .graphic .circle .preview h3 {
  font-size: 11px;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
  color: rgba(3, 0, 37, 0.6);
  transform: scale(0.1);
  transition: 0.2s ease;
}
.page .graphic .circle:hover .preview {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1);
}
.page .graphic .circle:hover .preview h2 {
  transform: scale(1);
}
.page .graphic .circle:hover .preview h3 {
  transform: scale(1);
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}/*# sourceMappingURL=about.css.map */